<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <bean id="myDubbo" class="com.ywh.dubbo.DubboProvider"/>
    
    <!-- 定义服务提供者在dubbo中的名称 -->
    <dubbo:application name="Day87_DubboProvider"/>
    
    <!-- 配置dubbo协议， dubbo， RMI， hession -->
    <dubbo:protocol name="dubbo" port="28081"/>
    
    <!-- 完成dubbo的注册 -->
    <dubbo:registry address="zookeeper://10.12.153.57:2181"/>
    
    <!-- 将接口暴露给消费方 -->
    <dubbo:service interface="com.ywh.dubbo.Interface" ref="myDubbo"/>
</beans>
